[submodule "assets/lib/requirejs"]
	path = assets/lib/requirejs
	url = https://denseflux@github.com/jrburke/requirejs.git
[submodule "assets/lib/requirejs-text"]
	path = assets/lib/requirejs-text
	url = https://denseflux@github.com/requirejs/text.git
[submodule "assets/lib/underscore"]
	path = assets/lib/underscore
	url = https://denseflux@github.com/jashkenas/underscore.git
[submodule "assets/lib/backgrid"]
	path = assets/lib/backgrid
	url = https://denseflux@github.com/wyuenho/backgrid.git
