[submodule "assets/lib/requirejs"]
	path = assets/lib/requirejs
	url = https://denseflux@github.com/jrburke/requirejs.git
[submodule "assets/lib/requirejs-text"]
	path = assets/lib/requirejs-text
	url = https://denseflux@github.com/requirejs/text.git
[submodule "assets/lib/underscore"]
	path = assets/lib/underscore
	url = https://denseflux@github.com/jashkenas/underscore.git
[submodule "assets/lib/backgrid"]
	path = assets/lib/backgrid
	url = https://denseflux@github.com/wyuenho/backgrid.git
[submodule "assets/lib/backgrid-paginator"]
	path = assets/lib/backgrid-paginator
	url = https://denseflux@github.com/wyuenho/backgrid-paginator.git
[submodule "assets/lib/backbone"]
	path = assets/lib/backbone
	url = https://denseflux@github.com/jashkenas/backbone.git
[submodule "assets/lib/backbone-paginator"]
	path = assets/lib/backbone-paginator
	url = https://denseflux@github.com/backbone-paginator/backbone.paginator.git
[submodule "assets/lib/backbone-relational"]
	path = assets/lib/backbone-relational
	url = https://github.com/PaulUithol/Backbone-relational.git
