<html>
<head>
    <script data-main="src/config" src="assets/lib/requirejs/require.js"></script>
  <link rel="stylesheet" href="/fac/arts/research/digitalhumanities/common/css/bootstrap-id6-mixin.css"/>
    <link rel="stylesheet" href="assets/hispanic_liverpool_app.css?[build-timestamp]" />
       <link rel="stylesheet" href="assets/bootstrap-theme.css?[build-timestamp]" />
      <link rel="stylesheet" href="assets/bootstrap-theme.css?[build-timestamp]" />
      <link rel="stylesheet" href="assets/lib/bootstrap.min.css?[build-timestamp]" />

  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <style>

    </style>
</head>
<body>
      <div id="pagecache" class="hidden"></div>
  <div class="full-width">
    <div class="container">
      <div id="breadcrumb"></div>
      <script type="text/template" id="breadcrumb-template">
      <ul class="breadcrumb">
        <li><a href="#list">Home</a></li>
          <% _.each(breadcrumbs, function(crumb, index) { %>
            <% if (breadcrumbs.length < index + 1) { %>
              <li><a href="#<%- crumb.url %>"><%- crumb.title %></a></li>
            <% } else { %>
              <li><%- crumb.title %></li>
            <% } %>
          <% }); %>
        </ul>
    </script>
      <hr />
        <a href="#search" class="btn btn-primary"><i class="fa fa-search"></i> People Search</a>
    <hr />
      <div id="homepage" class="is-stackable"></div>
      <div id="page"class=" is-stackable"></div>
    </div>

  </div>
<script type="text/template" id="person-list-template">
    <table class="table table-striped table-bordered" id="persons-table">
      <thead>
        <tr>
          <th>Forename(s)</th><th>Surname</th><th>Gender</th><th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(persons, function(person) { %>
          <tr>
            <td><%- person.get('forenames') %></td>
            <td><%- person.get('surname') %></td>
            <td><%- person.get('gender') %></td>
            <td><a class="btn btn-primary btn-xs" href="#view/<%= person.id %>">View Record</a></td>
          </tr>
        <% }); %></tbody>
    </table>
  </script>
  <script type="text/template" id="view-person-template">
  <div class="row">
    <div class="col-sm-12">
      <h3><i class="icon-user"></i> Individual</h3>
      <div class="lifted card drop-shadow" id="person-details">
        <i class="icon-spin"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3 class="muted"><i class="icon-list-alt"></i> Records</h3>
      <div class="lifted card drop-shadow" id="bibliographical-details">
            <i class="icon-spin"></i>
        <p class="muted">Here youll be able to see biographical records, occupations etc, in chronological order.
      </p>
      </div>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
    <h3 class="muted"><i class="icon-resize-horizontal"></i> Relations</h3>
    <div class="lifted card drop-shadow" id="relationships">
    <p class="muted">Here youll be able to see the relations for this individual</p>
          <i class="icon-spin"></i>
    </div>
  </div>
  </script>


  <script type="text/template" id="view-loading">
    <h1 class="text-center">Loading people...<br/><i class="fa fa-spin fa-cog fa-2x"></i></h1>
  </script>

  <script type="text/template" id="view-person-partial">
    <div class="row">
      <div class="col-sm-6">
        <p>Name: <%- person.get('forenames') %> <%- person.get('surname') %></p>
        <p>Date: <%- person.get('yearonrecord') %> <%- person.get('dateonrecord') %></p>
        <p>Gender: <%- person.get('gender') %></p>
      </div>
      <div class="col-sm-6">
        <p>Citizenship: <%- person.get('citizenship') %></p>
        <p>Country: <%- person.get('country') %></p>
        <p>Place: <%- person.get('place') %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>Birth Date: <%- person.get('birthdate') %></p>
        <p>Birth Place: <%- person.get('birthplace') %> <%- person.get('birthcountry') %></p>
      </div>
      <div class="col-sm-6">
        <p>Death Date: <%- person.get('deathdate') %></p>
        <p>Death Place: <%- person.get('deathplace') %> <%- person.get('deathcountry') %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%- person.get('notes') %>
      </div>
    </div>
  </script>

  <script type="text/template" id="search-form-template">
  <h1><i class="fa fa-search"></i>People Search</h1>
<form id="search-form" class="form-horizontal" role="form">
  <div class="form-group">
    <label  class="col-sm-2 control-label col-xs-3" for="surnames">Suname(s)</label>
    <div class="col-sm-3 col-xs-9">
    <input type="email" class="form-control " id="surnames" name="surnames"  placeholder="accepts multiple names"></div>
    <label class="col-sm-2 col-xs-3 control-label" for="fornames">Forename(s)</label>
    <div class="col-sm-3 col-xs-9">
    <input type="text" class="form-control" id="forenames" name="forenames"  placeholder="accepts multiple names"></div>

  </div>  


  <div class="form-group" >    <label class="col-sm-2 col-xs-3 control-label" for="gender" >Gender</label>
    <div class="btn-group col-sm-10" data-toggle="buttons">

    <label class="btn btn-default" >
      <input type="checkbox" name="gender" value="m"/>M
    </label>
    <label class="  btn btn-default">
      <input type="checkbox" name="gender" value="f"/>F
    </label>
    <label class="  btn btn-default">
      <input type="checkbox" name="gender" value="u"/>Unknown
      </label></div>
  </div>
    <div class="form-group">
  <label class="col-sm-2 control-label col-xs-3" for="occupation">Occupation</label>
      <div class="col-sm-3 col-xs-9"><select class="form-control">Occupation</select></div>
  </div>
    <hr/>

    <div class="form-group">
      <div class="col-sm-2">
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          <label class="btn btn-default" id="birth-include">
            <input type="radio" name="birth-death" value="0"/>Birth
          </label>
          <label class="  btn btn-default" id="death-include">
            <input type="radio" name="birth-death" value="1"/>Death
          </label>
        </div>
      </div>
      <div class="col-sm-10">
      <div>
        <div class="form-inline" id="search-birth">
 
          <div class="form-group-inline-block">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default" id="birth-range-0">
                <input type="radio" name="birth-range" value="0"/>Precice
              </label>
              <label class="  btn btn-default" id="birth-range-1">
                <input type="radio" name="birth-range" value="1"/>Before
              </label>
              <label class="  btn btn-default" id="birth-range-2">
                <input type="radio" name="birth-range" value="2"/>After
              </label>
              <label class="  btn btn-default" id="birth-range-3">
                <input type="radio" name="birth-range" value="3"/>Between
              </label>
            </div>
          </div>
          <div class="form-group-inline-block">
            <label class="sr-only control-label">Start Date</label>
            <input type="text" class="form-control" id="birth-start" name="birth-start"  placeholder="YYYY" style="display:none" size="5" >
          </div>
          <div class="form-group-inline-block">
            <label class="control-label" for="birth-end" id="birth-and" style="display:none">and</label>
            <input type="text" class="form-control" id="birth-end" name="birth-end" placeholder="YYYY" style="display:none" size="5">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label col-xs-3" for="birth-country">Country</label>
      <div class="btn-group col-sm-6 col-xs-9" >
        <select class="form-control" name="birth-country">
          <option>country</option>
          <option>country</option>
          <option>country</option>
          <option>country</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label col-xs-3" for="birth-place" >Place</label>
      <div class="btn-group col-sm-6 col-xs-9" >
        <select class="form-control" name="birth-place">
          <option>place</option>
          <option>place</option>
          <option>place</option>
          <option>place</option>
        </select>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>

  <div id="search-death" class="panel panel-default">
  <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#search-death" href="#search-death-content">Include death criteria</a></h4></div>
    <div id="search-death-content" class="panel-collapse collapse">
      <div class="panel-body">
  <div class="form-group watch">
    <label class="col-sm-2 control-label col-xs-3" for="death-range">Year</label>
    <div class="col-sm-6 col-xs-12">
    <div class="btn-group btn-group-justified " data-toggle="buttons">
        <label class="btn btn-default" id="death-range-0">
      <input type="radio" name="death-range" value="0"/>Precice
    </label>
    <label class="  btn btn-default"  id="death-range-1">
      <input type="radio" name="death-range" value="1"/>Before
    </label>
    <label class="  btn btn-default" id="death-range-2">
      <input type="radio" name="death-range" value="2"/>After
      </label>
          <label class="  btn btn-default" id="death-range-3">
      <input type="radio" name="death-range" value="3"/>Between
      </label>
    </div>
    </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 form-inline">
        <input type="text" class="form-control" id="death-start" name="death-start" placeholder="YYYY" style="display:none">

      <label class="control-label" for="death-end" id="death-and" style="display:none">and</label>

        <input type="text" class="form-control" id="death-end" name="death-end" placeholder="YYYY" style="display:none"></div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label col-xs-3" for="death-country">Country</label>
      <div class="col-sm-6 col-xs-9" >
        <select class="form-control" name="death-country">
          <option>country</option>
          <option>country</option>
          <option>country</option>
          <option>country</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label col-xs-3" for="death-place" >Place</label>
      <div class="col-sm-6 col-xs-9" >
        <select class="form-control" name="death-place">
          <option>place</option>
          <option>place</option>
          <option>place</option>
          <option>place</option>
        </select>
      </div>
    </div>
    </div>

    </div></div>
      <div class="form-group form-options">
    <div class="col-sm-offset-2 col-sm-10">
  <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i>  Search</button>
  <button type="reset" class="btn btn-danger" data-dismiss="modal" value="reset">Clear</button>

  </div>
</form>
</script>

  <script type="text/template" id="edit-person-template">
    <form class="edit-user-form">
      <legend><%= user ? 'Edit' : 'New' %>User</legend>
        <label >First Name</label>
        <input name="firstname" type="text" value="<%= user ? user.get('firstname') : '' %>">
        <label>Last Name</label>
        <input name="lastname" type="text" value="<%= user ? user.get('lastname') : '' %>">
        <label>Age</label>
        <input name="age" type="text" value="<%= user ? user.get('age') : '' %>">
        <hr />
       <button type="submit" class="btn"><%= user ? 'Update' : 'Create' %></button>
       <% if(user) { %>
        <input type="hidden" name="id" value="<%= user.id %>" />
       <button data-user-id="<%= user.id %>" class="btn btn-danger delete">Delete</button>
       <% }; %></form>
  </script>

  <script type="text/template" id="person-relationships-partial">
  <div class="">
      <div class="row">
        <div class="col-sm-1"><strong>Date</strong></div>
        <div class="col-sm-3"><strong>Surname</strong></div>
        <div class="col-sm-3"><strong>Forenames</strong></div>
        <div class="col-sm-3"><strong>Relationship</strong></div>
        <div class="col-sm-2"></div>
      </div>
    <% _.each(relationships, function(relationship) { %>
      <div class="row">
        <div class="col-sm-1"><%- relationship.get('infodate') %></div>
        <div class="col-sm-3"><%- relationship.get('surname') %></div>
        <div class="col-sm-3"><%- relationship.get('forenames') %></div>
        <div class="col-sm-3"><%- relationship.get('relationship') %></div>
        <div class="col-sm-2"><a class="btn btn-primary btn-xs" href="#view/<%- relationship.get('id') %>">View Record</a></div>
      </div>
    <% }); %>
    </div>
  </script>

  <script>


  </script>

</body>
</body>
</html>