<html>
<head>
    <script data-main="src/main" src="assets/lib/requirejs/require.js"></script>
  <link rel="stylesheet" href="/fac/arts/research/digitalhumanities/common/css/bootstrap-id6-mixin.css"/>
    <link rel="stylesheet" href="assets/hispanic_liverpool_app.css?[build-timestamp]" />
       <link rel="stylesheet" href="assets/?[build-timestamp]" />
      <link rel="stylesheet" href="assets/lib/bootstrap/bootstrap-theme.css?[build-timestamp]" />
      <link rel="stylesheet" href="assets/lib/bootstrap/bootstrap.min.css?[build-timestamp]" />
      <link rel="stylesheet" href="assets/lib/backgrid/lib/backgrid.css?[build-timestamp]" />
      <link rel="stylesheet" href="assets/lib/backgrid-paginator/backgrid-paginator.min.css?[build-timestamp]" />
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css?[build-timestamp]" />


  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <style>

    </style>
</head>
<body>
      <div id="pagecache" class="hidden"></div>
  <div class="full-width">
    <div class="container">
      <div id="breadcrumb"></div>
      <script type="text/template" id="breadcrumb-template">
      <ul class="breadcrumb">
        <li><a href="#list">Home</a></li>
          <% _.each(breadcrumbs, function(crumb, index) { %>
            <% if (breadcrumbs.length < index + 1) { %>
              <li><a href="#<%- crumb.url %>"><%- crumb.title %></a></li>
            <% } else { %>
              <li><%- crumb.title %></li>
            <% } %>
          <% }); %>
        </ul>
    </script>
      <hr />
        <a href="#search" class="btn btn-primary"><i class="fa fa-search"></i> People Search</a>
    <hr />
      <div id="page"class=" is-stackable"></div>
    </div>

  </div>


  <script type="text/template" id="view-loading">
    <h1 class="text-center">Loading people...<br/><i class="fa fa-spin fa-cog fa-2x"></i></h1>
  </script>



  <script>


  </script>

</body>
</body>
</html>